.text-underline {
    text-decoration: underline;
}

.text-xxl {
    font-size: 48px;

    @include media('>m') {
        font-size: 72px;
    }
}

.text-xl {
    font-size: 24px;

    @include media('>m') {
        font-size: 58px;
    }
}

.text-l {
    font-size: 18px;

    @include media('>m') {
        font-size: 24px;
    }
}